@import "../base/color";
@import "../base/fonts";

.section{
  margin: 5% 10%;
  color: $grey-light;
  overflow: auto;
  & &__image{
    width: 100%;
    margin-top: 30px;
  }
  & &__image-col{
      height: 200px;
      position: relative;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  & &__header{
    margin: 20px 0;
  }
  & &__title{
    margin-top: 20px;
    font-size: $title-font-size;
    font-weight: $medium;
  }
  & &__subtitle{
    margin: 10px 0;
    font-size: $subtitle-font-size;
    font-weight: $medium;
    line-height: $base-line-height;
  }
  & &__text{
    margin: 10px 0;
    color: $grey-light;
    font-size: $base-font-size;
    line-height: $base-line-height;
    &--blue{
      color: $blue;
    }
    &--small{
      font-family: $mono-font-family;
      margin-top: 10px;
      font-size: $small-font-size;
      color: $grey-light;
      &-name{
        font-family: $base-font-family;
        white-space: pre-line;
      }
    }
  }
  & &__line{
    margin: 50px 0;
    width: 100%;
    height: 5px;
    background-color: $blue;
  }
  & &__icon{
    vertical-align: middle;
    &--small{
      margin-right: 10px;
      border-radius: 50%;
      width: 50px;
    }
  }
}

.container-small{
  display: flex;
  align-items: center;
  margin-top: 30px;
  & &__text{
    padding-left: 20px;
    display: inline-block;
    width: 80%;
    font-weight: $bold;
  }
  & &__image{
    display: inline-block;
    padding: 15px;
  }
}