// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Base Font
$base-font-family: Roboto;
$mono-font-family: 'Roboto Mono';
$base-font-weight: $regular;
$base-font-size: 16px;
$base-line-height: 1.4;

// Font size
$title-font-size: 36px;
$subtitle-font-size: 24px;
$small-font-size: 14px;
